<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.jasminedao.musictheoryapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="Music Theory"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:noHistory = "false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Lessons"
            android:label="Music Theory"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Glossary"
            android:label="Music Theory"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Lesson1"
            android:label="Lessons" />
        <activity
            android:name=".Practice"
            android:label="Music Theory"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Practice1"
            android:screenOrientation="portrait"
            android:label="Practice" />
        <activity
            android:name=".Lesson1Summary"
            android:label="Lessons" />
        <activity
            android:name=".LessonQuiz"
            android:screenOrientation="portrait"
            android:label="Lessons" />
        <activity
            android:name=".QuizResult"
            android:screenOrientation="portrait"
            android:parentActivityName=".LessonQuiz"
            android:label="Quiz" />
        <activity
            android:name=".Lesson2"
            android:label="Lessons" />
        <activity
            android:name=".Lesson2Summary"
            android:label="Lessons" />
        <activity
            android:name=".Lesson3"
            android:label="Lessons" />
        <activity
            android:name=".Lesson3Summary"
            android:label="Lessons" />
        <activity
            android:name=".Lesson4"
            android:label="Lessons" />
        <activity
            android:name=".Lesson4Summary"
            android:label="Lessons" />
        <activity
            android:name=".Lesson5"
            android:label="Lessons" />
        <activity
            android:name=".Lesson6"
            android:label="Lessons" />
        <activity
            android:name=".Lesson7"
            android:label="Lessons" />
        <activity
            android:name=".Lesson8"
            android:label="Lessons" />
        <activity
            android:name=".Lesson5Summary"
            android:label="Lessons" />
        <activity
            android:name=".Lesson6Summary"
            android:label="Lessons" />
        <activity
            android:name=".Lesson7Summary"
            android:label="Lessons" />
        <activity
            android:name=".Practice2"
            android:screenOrientation="portrait"
            android:label="Practice"/>

        <activity
            android:name=".Practice3"
            android:screenOrientation="portrait"
            android:label="Practice"/>
        <activity
            android:name=".Practice4"
            android:screenOrientation="portrait"
            android:label="Practice"/>

        <activity
            android:name=".Practice5"
            android:screenOrientation="portrait"
            android:label="Practice"/>

        <activity
            android:name=".Practice6"
            android:screenOrientation="portrait"
            android:label="Practice"/>

        <activity
            android:name=".Practice7"
            android:screenOrientation="portrait"
            android:label="Practice"/>
    </application>

</manifest>